<header>
<%= link_to logo = image_tag("logo.png", :alt => "vinowiny", :class => "round"), root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "User", users_path %></li>
      <li><%= link_to "Post", posts_path %></li>
    </ul>
  </nav>
</header>

